.eqp_title_div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.eqp_title_div h1 {
    font-size: 2em;
    margin: 0;
}

.eqp_section {
    margin-bottom: 20px;
}

.eqp_section h2 {
    font-size: 1.2em;
    margin-bottom: 6px;
    color: #555;
}

.eqp_section p, .eqp_section ul {
    margin: 0;
    padding-left: 20px;
}

.eqp_section ul li {
    margin-bottom: 4px;
}
