.categoria_div {
    padding: 20px 20px;
}

.categoria_eqp_list {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
}

.status_eqp_list {
    display: flex;
    justify-content: flex-start;
    flex-flow: row;
    padding: 0px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 3px #f3f3f3;
    border-style: solid;
}

.status_eqp_list:nth-child(1) li{
    font-weight: 700;
    font-size: 18px;
}

.status_eqp_list li{
    width: 120px;
    margin: 10px 20px 10px 0px;
    color: #f3f3f3;
    padding: 10px 0px;
    cursor: pointer;
}

.status_eqp_list:hover .item_list:nth-child(1) {
    text-decoration: underline;
}

.eqp_title_div {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    vertical-align: center;
    height: 50px;
}

.addEqp {
    padding: 10px 20px;
    background-color: transparent;
    border: 2px solid #f17929;
    color: #f17929;
    cursor: pointer;
    transition: background 0.5s ease, color 0.5s ease;
    font-size: 15px;
    font-weight: 700;
    border-radius: 5px;
}

.addEqp:hover {
    background-color: #f17929;
    color: #111111
}

.modal-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.modal-overlay input {
    background-color: transparent;
    border-bottom: #DC4413 2px solid;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}

.modal {
    background: #222222;
    padding: 25px;
    width: 450px;
    height: 600px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.4);
    overflow-y: auto;
    align-items: center;
}

.modal h2 {
    margin-bottom: 15px;
}

.modal label {
    margin-top: 15px;
}

.modal .form_label {
    display: block;
    margin-top: 10px;
}

.modal input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}

.btn-save {
    margin-top: 15px;
    padding: 10px;
    width: 100%;
    background: #DC4413;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.5s ease;
}

.btn-save:hover {
    background-color: #f17929;
}

.btn-close {
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    background: #ccc;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.5s ease, color 0.5s ease;
}

.btn-close:hover {
    background: #333;
    color: #ccc;
}

.select_add_eqp {
    background-color: #333;
    width: 50%;
    color: #f17929;
    border-bottom: #DC4413 2px solid;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    margin-top: 10px;
}

.slc_cat {
    display: none;
}

.slc_cat_label {
    display: none;
}