.header_main_container {
    min-width: 100%;
    position: fixed;
    max-height: 100px;
    background-color: #111;
    border-bottom: #f17929 solid 1px;
    top: 0;
    right: 0;
    color: #f17929;
    z-index: 1001;
}

.header_ident_container {
    min-width: 100%;
    position: relative;
    display: flex;
}

.header_sub_container {
    min-width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
}

.header_list {
    display: flex;
    justify-content: space-around;
    margin: 15px;
}

.header_list_item {
    list-style: none;
    height: 100%;
    padding: 0 18px;
    margin: 0px 15px;
    position: relative;
    transition: color 1s ease;
    cursor: pointer;
    font-weight: 700;
}

.header_list_item:nth-child(2) {
    font-size: 19px;
}

.header_list_item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    background: #f17929;
    transition: opacity 0.5s ease, left 1s ease;
    z-index: -1;
    opacity: 0;
}

.header_list_item:hover {
    color: #111;
}


.header_list_item:hover::before {
    left: 0;
    opacity: 1;
}

.header_user {
    position: absolute;
    right: 40px;
    top: 16%;
    cursor: pointer;
}

.menu_container {
    position: absolute;
    display: none;
    background-color: #222222;
    border-radius: 5px;
    left: -400%;
    width: 180px
}

.header_user:hover .menu_container {
    display: block;
}

.menu_opt {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    padding-left: 0px;
}

.menu_opt li {
    padding: 15px;
}

.menu_opt li:hover {
    background-color: #333;
}